@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    box-sizing: border-box;
}

html {
    --secondary: #64E9FF;
    --primary: #103CE7;
}

body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

/* Achievements Tab */
section.sec_two div.achieve {
    width: 100%;
    height: 25vh;
    background-color: #393EA6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    margin: 5rem 0;
    width: 100% !important;
}

@media screen and (max-width: 600px) {
    section.sec_two div.achieve {
        height: auto;
        flex-direction: column;
        gap: 3rem;
        padding: 2rem 0 2rem 3rem;
        align-items: unset;
        margin: 2rem 0;
    }
}

div.cus {
    display: flex;
    gap: 10px;
}

div.achieve div.desc {
    display: flex;
    flex-direction: column;
}

div.achieve div.desc * {
    margin: 0;
}

div.achieve div.desc span, 
div.achieve div.desc p {
    color: var(--secondary);
}

div.icon {
    background-color: var(--secondary);
    border-radius: 50%;
    height: 10vh;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.icon img {
    height: 8vh;
    width: 4vw;
}

@media screen and (max-width: 600px) {
    div.icon {
        height: 5vh;
        width: 9vw;
    }

    div.icon img {
        height: 4vh;
        width: 7vw;
    }
}

/* color for "digital" */
div.left span.dig {
    color: var(--secondary);
}

/* text gradient for "development" */
div.left span.dev {
    background: -webkit-linear-gradient(310deg, #0d0e51, #103CE7, #2fffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Description before images */
div.desc {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

@media screen and (max-width: 600px) {
    div.desc {
        flex-direction: column;
    }
}

div.desc div.left {
    font-size: 20px;
}

div.desc p.right {
    font-size: 15px;
}

div.left img {
    margin-top: -2rem;
}

/* The whole section */
section.sec_two > * {
    padding: 0 2rem;
}

section.sec_two {
    margin-top: 4rem;
    padding-bottom: 5rem;
    background: linear-gradient(310deg, #025166, #7478b7);
}

/* Define structure of the images div */
div.imgs {
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: auto;
    margin-top: 2rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
div.imgs::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
div.imgs {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Size images */
div.imgs img {
    height: 48vh;
    width: 48vw;
}

@media screen and (max-width: 600px) {
    div.imgs img {
        height: 20vh;
        width: 35vw;
        flex-direction: row;
    }
}